<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <img th:src="${details.images.picture_url}" alt="picture unavailable." height="200" width="300">

    <br><br>

    <a th:href="@{/search(country=${listingSearch.country}, noOfPeople=${listingSearch.noOfPeople}, priceMin=${listingSearch.priceMin}, priceMax=${listingSearch.priceMax})}">Back</a>

    <table border="1">
        <tr>
            <td>Id</td>
            <td th:text="${details._id}"></td>
        </tr>

        <tr>
            <td>Description</td>
            <td th:text="${details.description}"></td>
        </tr>

        <tr>
            <td>Address</td>
            <td>
                <span th:text="${details.address.street}"></span>
                <br>
                <span th:text="${details.address.suburb}"></span>
                <br>
                <span th:text="${details.address.country}"></span>
            </td>
        </tr>

        <tr>
            <td>Price</td>
            <td th:text="${details.price}"></td>
        </tr>

        <tr>
            <td>Amenities</td>
            <td th:text="${details.amenities}"></td>
            <!-- <td>
                <ul>
                    <li th:each="amenity: ${details.amenities}" th:text="${amenity}"></li>
                </ul>
            </td> -->
        </tr>
    </table>

    <br><br>

    <form method="post" th:action="@{/book/{id}(id=${details._id})}" th:object="${booking}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <p class = "text-danger" style="color:red" data-th-if="${#fields.hasErrors('name')}" data-th-errors = "*{name}"></p>

        <br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <p class = "text-danger" style="color:red" data-th-if="${#fields.hasErrors('email')}" data-th-errors = "*{email}"></p>

        <br>
        
        <label for="arrivalDate">Arrival:</label>
        <input type="date" id="arrivalDate" name="arrivalDate">
        <p class = "text-danger" style="color:red" data-th-if="${#fields.hasErrors('arrivalDate')}" data-th-errors = "*{arrivalDate}"></p>

        <br>

        <label for="duration">Duration (days):</label>
        <input type="number" id="duration" name="duration">
        <p class = "text-danger" style="color:red" data-th-if="${#fields.hasErrors('duration')}" data-th-errors = "*{duration}"></p>

        <br>

        <!-- Pass listing ID as a hidden field -->
        <input type="hidden" name="listingId" th:value="${details._id}">

        <button type="submit">Book</button>
    </form>

    <!-- Display Error Msg if no more vacancy (Manual Validation) -->
    <div th:if="${errorMsg}">
        <p th:text="${errorMsg}" style="color:red;"></p>
    </div>

</body>
</html>